/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
footer{
	text-align: center;
	background-color: #333;
	padding: 6px 0 3px;
	p{
		font-size: 1rem;
		color: #fff;
	}
}