/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-head{
	margin: 18px 0;
	@include sp{
		margin: 0;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 999;
	}
	&__inner{
		width: 1100px;
		margin: 0 auto;
		display: flex;
		@include sp{
			width: 100%;
		}
	}

	nav{
		@include sp{
			width: 100%;
			position: relative;
			&.is-open{
				.c-head__navcon{
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}
	&__navcon{
		@include sp{
			position: absolute;
		    width: 100%;
		    min-height: 320px;
		    height: 100vh;
		    top: 0px;
		    right: 0;
		    bottom: 0;
		    overflow-y: auto;
		    background-color: #fff;
		    transform: translateX(500px);
		    opacity: 0;
		    transition: all .5s;
		}
	}
	ul{
		display: flex;
		margin-left: 70px;
		margin-top: 11px;
		@include sp{
			display: block;
			margin-left: 0;
			width: 100%;
			padding-top: 50px;
		}
		li{
			margin-right: 44px;
			@include sp{
				margin: 0 0 30px;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				display: block;
				color: #97417A;
				text-align: center;
				text-decoration: none;
			}
			span{
				display: block;
				font-size: 1.701rem;
				@include mincho;
				font-weight: bold;
			}
			small{
				display: block;
				font-size: 1.063rem;
				font-weight: bold;
				@include mincho;
			}
		}
	}
}