/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-container{
	width: 978px;
	margin: 0 auto;

	@include sp{
		width: 100%;
		padding: 0 15px;
	}
}


.l-wrap{
	width: 972px;
	margin: 0 auto;
	@include sp{
		width: 100%;
	}
}
.l-content{
	width: 854px;
	margin: 0 auto;

	@include sp{
		width: 100%;
		padding: 0 15px;
	}
}

.l-wrapper{
	width: 924px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		padding: 0 15px;
	}
}