/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-btn1{

	width: 163px;
	height: 33px;
	margin: 0 auto;
	border: 1px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	@include sp{
		width: 80px;
	}
	a{
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 2.055rem;
		@include mincho;
		@include sp{
			font-size: 1.5rem;
		}
	}

	&--mode2{
		background-color: #333;
		border-color: #333;

		a{
			color: #fff;
		}
	}
}