/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{

	color: #fff;
	text-align: center;
	&__ttl{
		font-size: 3.402rem;
		@include mincho;
		@include sp{
			font-size: 2.5rem;
		}
	}

	&__txt{
		font-size: 1.772rem;
		@include sp{
			font-size: 1.4rem;
		}
	}

	&--mode2{
		color: #333
	}
}

/*
------------------------------------------------------------*/
.c-title2{

	color: #fff;
	&__ttl{
		font-size: 2.126rem;
		@include mincho;
		@include sp{
			font-size: 1.6rem;
		}
	}

	&__txt{
		font-size: 1.488rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title3{
	color: #993467;
	&__ttl{
		font-size: 2.384rem;
		@include sp{
			font-size: 2rem;
		}
	}
	&__txt{
		font-size: 1.629rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title4{

	color: #fff;
	text-align: center;
	&__ttl{
		font-size: 2.835rem;
		@include sp{
			font-size: 2.3rem;
		}
	}
	&__txt{
		font-size: 1.346rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title5{
	text-align: center;
	position: relative;
	padding-bottom: 18px;
	@include sp{
		padding-bottom: 9px;
	}
	&__icon{
		width: 57px;
		margin: 0 auto 16px;
		@include sp{
			margin: 0 auto 8px;
		}
	}

	&__txt{
		font-size: 1.843rem;
		letter-spacing: 3px;
		@include sp{
			font-size: 1.6rem;
		}
	}
	&:after{
		content: '';
		width: 94px;
		height: 3px;
		background:url("/assets/img/common/line.jpg") no-repeat center;
		background-size: cover;
		position: absolute;
		transform:translateX(-50%);
		bottom: 0;
		left: 50%;
	}
}

/*
------------------------------------------------------------*/
.c-title6{
	text-align: center;
	position: relative;
	padding-bottom: 30px;
	@include sp{
		padding-bottom: 15px;
	}
	&__img{
		width: 164px;
		margin: 0 auto;
		@include sp{
			width: 86px;
		}
	}

	&:after{
		content: '';
		width: 21px;
		height: 17px;
		background:url("/assets/img/common/arrow.png") no-repeat center;
		background-size: cover;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@include sp{
			width: 11px;
			height: 8px;
		}
	}
}