/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-form1{
	width: 514px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		max-width: 375px;
	}

	&__label{
		font-size: 1.276rem;
		span{
			font-size: 0.78rem;
			color: #FF1D25;
			line-height: 2;
    		vertical-align: top;
		}
		&.mb{
			margin-bottom: 30px;
			@include sp{
				margin-bottom: 15px;
			}
		}
	}
	&__row{
		display: flex;
		margin-bottom: 16px;
		@include sp{
			display: block;
			margin-bottom: 8px;
		}
	}

	&__ttl{
		width: 149px;
		padding-top: 6px;
		@include sp{
			width: 100%;
			padding-top: 0;
			margin-bottom: 5px;
		}
	}
	&__content{
		width: calc(100% - 149px);
		@include sp{
			width: 100%;
		}

		input,textarea{
			font-size: 1.276rem;
			border: 1px solid #bbb;
			width: 100%;
			height: 28px;
		    padding: 0 10px;
		    box-sizing:border-box;

		}
		textarea{
			resize:none;
			height: 76px;
			padding: 5px 10px;
		}
	}
	&__btn{
		text-align: center;
		margin-top: 55px;
		@include sp{
			margin-top: 20px;
		}
		button{
			width: 155px;
			height: 30px;
			background-color: #333;
			border: 1px solid #333;
			color: #fff;
			cursor: pointer;
			font-size: 1.2rem;
		}
	}
}