/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1{
	font-size: 2.339rem;
	color: #fff;
	@include sp{
		font-size: 2rem;
	}
}

/*
------------------------------------------------------------*/
.c-text2{
	font-size: 1.488rem;
	color: #fff;
	@include sp{
		font-size: 1.3rem;
	}
}

/*
------------------------------------------------------------*/