/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgtext1{

	display: flex;
	@include sp{
		display: block;
	}
	&__img{
		width: 489px;
		box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.66);
	    align-self: flex-start;
	    @include sp{
	    	width: 100%;
	    }


	}

	&__txt{
		width: 489px;
		text-align:  center;
		background-color: #fff;
		margin-top: 68px;
		font-size: 1.488rem;
		padding: 60px 0 48px;
		box-shadow: 7px 7px 14px -2px rgba(0,0,0,0.66);
		@include sp{
			width: 100%;
			padding: 30px 0 24px;
			margin-top: 0;
			font-size: 1.2rem;
		}
	}

	&__text{
		margin: 22px 0 25px;
	}
}

/*
------------------------------------------------------------*/
.c-imgtext2{
	$root:&;
	position: relative;
	width: 708px;
	margin: 0 auto 28px;
	padding-top: 50px;
	@include sp{
		width: 100%;
		max-width: 375px;
		padding-top: 0;
		margin: 0 auto 20px;
	}
	&__img{
		width: 359px;
		height: 172px;
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: 13px 13px 0px 0px rgba(200,200,200,1);
		@include sp{
			position: relative;
			width: 100%;
			box-shadow: 5px 5px 0px 0px rgba(200,200,200,1);
		}
		img{
			width: 100%;
			height: 100%;
		}
	}

	&__content{
		margin-left: 132px;
		border: 1px solid #AA2380;
		padding: 18px 0 25px 274px;
		@include sp{
			margin-left: 0;
			padding: 10px 20px;
			margin-top: 10px;
		}
	}

	&__text{
		font-size: 1.63rem;
		color: #333;
		margin-top: 8px;
		@include sp{
			font-size: 1.4rem;
		}
	}

	&--mode2{
		#{$root}__img{
			left: unset;
			right: 0;
		}
		#{$root}__content{
			background-color: #FFF1F9;
			padding-left: 56px;
			margin-left: 0;
			margin-right: 132px;
			@include sp{
				margin-left: 0;
				margin-right: 0;
				padding-left: 20px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-imgtext3{
	width: 968px;
	padding: 75px 0 85px;
	display: flex;
	position: relative;
	margin: 0 auto;
	@include sp{
		width: 100%;
		display: block;
		padding: 36px 0;
	}
	&:after{
		content: '';
		width: calc(100% - 87px);
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(135deg, rgba(240,42,68,.14) 0%, rgba(167,42,255,.14) 57.9%, rgba(0,43,227,.14) 100%);
		@include sp{
			width: 100%;
		}
	}
	&__img{
		width: 403px;
		align-self: flex-start;
		@include sp{
			width: 100%;
			max-width: 320px;
			margin: 0 auto;
		}
	}

	&__content{
		padding-left: 62px;
		color: #333;
		@include sp{
			padding: 0 20px;
			margin-top: 20px;
		}
	}

	&__ttl{
		font-size: 2.622rem;
		@include sp{
			font-size: 2rem;
		}
	}

	&__txt{
		font-size: 1.559rem;
		@include sp{
			font-size: 1.3rem;
		}
	}
}