/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include sp{
		justify-content: center;
	}

	&__card{
		width: 164px;
		text-align: center;
	    margin: 0 42px 40px;
		@include sp{
			margin: 0 0 20px;
		}
	}

	&__img{
		width: 92px;
		margin: 0 auto;
		@include sp{
			width: 46px;
		}
		img{
			width: 100%;
		}
	}
}