/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table1{
	width: 610px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		// min-width: 320px;
	}
	table{
		border-spacing: 0 10px;
		@include sp{
			border-spacing: 0;
			width: 100%;
		}
		th,td{
			border: 1px solid #333;
			font-size: 1.276rem;
			padding: 10px 0;
			@include sp{
				display: block;
				padding: 20px 0;
			}
		}
		th{
			width: 180px;
			background-color: #333;
			color:#fff;
			font-weight: normal;
			@include sp{
				width: 100%;
			}
		}
		td{
			width: 430px;
			padding-left: 30px;
			@include sp{
				width: 100%;
				padding: 20px 0;
				text-align: center;
			}
		}
	}
}