/*------------------------------------------------------------
slide
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-slide1{
	width: 924px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		
	}
	&__item{
		padding: 0 8px;
		@include sp{
			padding: 0;
		}
	}

	&__visual{
		width: 219px;
		height: 147px;
		@include sp{
			width: 100%;
			height: auto;
		}
		img,iframe{
			width: 100%;
			height: 100%
		}
	}
	&__ttl{
		font-size: 1.276rem;
	}
	&__text{
		font-size: .921rem;
	}
	&__sub{
		font-size: .638rem;
	}
}