/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-headbtn{
	@include sp{
		width: 40px;
		height: 40px;
		position: absolute;
		padding: 11px 5px;
		z-index: 999;
		top: 15px;
		right: 15px;
		border: 1px solid transparent;
		border-image: linear-gradient(130deg, rgba(238,45,70,1) 0%, rgba(131,85,163,1) 57.9%, rgba(57,82,163,1) 99.44%);
		border-image-slice: 1;
		&__icon{
			position: relative;
			display: inline-block;
			width: 28px;
			height: 16px;
		}
		&__line{
			display: inline-block;
		    transition: all .4s;
		    box-sizing: border-box;
		    position: absolute;
		    left: 0;
		    width: 100%;
		    height: 2px;
		    background-color: #CE0080;
	    	border-radius: 25%;
			&:nth-of-type(2){
				top: 7px;
			}
			&:nth-of-type(3){
				bottom: 0px;
			}
		}
		&.is-active{
			.c-headbtn__line{
				&:nth-of-type(1){
				    transform: translateY(7px) rotate(-45deg);
				}
				&:nth-of-type(2){
				    opacity: 0;
				}
				&:nth-of-type(3){
					transform: translateY(-7px) rotate(45deg);
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-mv{
	background:url('/assets/img/common/mv.jpg') no-repeat center;
	background-size: cover;
	padding: 128px 0 110px;
	@include sp{
		padding: 30px 0 36px;
	}
}

/*
------------------------------------------------------------*/
.c-contact{
	background:url('/assets/img/common/contact-bg.jpg') no-repeat center;
	background-size: cover;
	padding: 55px 0 45px;
	width: 882px;
	text-align: center;
	margin: 0 auto;
	@include sp{
		width: 100%;
		padding: 25px 15px 20px;
	}

	&__text{
		font-size: 1.346rem;
		color: #fff;
		margin: 20px 0;
		@include sp{
			margin: 10px 0;
			font-size: 1.3rem;

		}
	}
}

/*
------------------------------------------------------------*/
.c-imgbg{
	$root:&;
	width: 1120px;
	margin: 0 auto;
	padding-bottom: 152px;
	background-image: url("/assets/img/common/bg8.png");
	background-repeat: no-repeat;
	background-size: 325px 583px;
	background-position: top 38px right 0;
	@include sp{
		width: 100%;
		padding: 0 15px 30px;
		background-size: 162px 290px;
		background-position: top 110px right 0;
	}
	&__tl{
		text-align: center;
		margin: 38px 0;
		@include sp{
			margin: 19px 0;
		}
		p{
			font-size: 2.622rem;
			background-color: #333;
			color: #fff;
			display: inline-block;
			line-height: 1;
			@include sp{
				font-size: 2.2rem;
			}
		}
	}

	&__txt{
		width: 694px;
		margin: 0 auto;
		font-size: 1.559rem;
		color: #333;
		line-height: 2.1;
		@include sp{
			width: 100%;
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}

	&--mode2{
		background-image: url("/assets/img/common/bg9.png");
		background-position: top 30px left 0;
		@include sp{
			background-position: top 110px left 0;
		}
	}
}