/*------------------------------------------------------------
business
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-business{
	.p-block1{
		text-align: center;

		&__img{
			position: relative;
		    z-index: -1;
		    display: inline-block;
		}

		&__ttl{
			font-size: 2.126rem;
			font-weight: bold;
			margin-bottom: 40px;
			@include sp{
				margin-bottom: 20px;
			}
		}

		&__text{
			width: 691px;
			margin: -110px auto 0;
			color: #333;
			background-color: #fff;
			padding: 60px 0 55px;
			@include sp{
				margin: 0 auto;
				width: 100%;
				padding: 30px 15px 28px;
			}
		}
	}

	.p-block2{
		margin-bottom: 117px;
		@include sp{
			margin-bottom: 30px;
		}
	}

	.mb{
		margin-bottom: 117px;
		@include sp{
			margin-bottom: 30px;
		}
	}
}