/*------------------------------------------------------------
company
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-company{
	&__block{
		padding: 105px 0 138px;
		background:url("/assets/img/common/bg5.png") no-repeat center;
		background-size: cover;

		@include sp{
			padding: 50px 0 60px;
		}
	}
}