/*------------------------------------------------------------
contact
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-contact{

	&__block{
		padding: 82px 0;
		background: url("/assets/img/common/bg7.png") no-repeat center;
		background-size: cover;
		@include sp{
			padding: 40px 0;
		}
	}

	&__text{
		font-size: 1.559rem;
		text-align: center;
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 25px;
		}
	}
}