/*------------------------------------------------------------
top
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-top{
	&__block1{
		background:url('/assets/img/common/bg1.png') no-repeat center;
		background-size: cover;
		text-align: center;
		padding: 257px 0 353px;
		margin-top: -44px;

		@include sp{
			background:url('/assets/img/common/bg1-sp.png') no-repeat center;
			background-size: cover;
			padding: 234px 0 232px;
		}
	}
	&__block2{
		background:url('/assets/img/common/bg2.jpg') no-repeat center;
		background-size: cover;
		padding: 84px 0 82px;
		@include sp{
			padding: 42px 0 40px;
		}
		.mr{
			margin: 60px 0 66px;
			@include sp{
				margin: 30px 0 33px;
			}
		}
	}
	&__block3{
		background:url('/assets/img/common/bg3.jpg') no-repeat center;
		background-size: cover;
		max-width: 1366px;
		margin: 0 auto;
		text-align: center;
		padding: 104px 0 98px;

		@include sp{
			padding: 52px 15px 50px;
		}
		
		.mb{
			margin-bottom: 45px;
			@include sp{
				margin-bottom: 24px;
			}
		}
		.mr{
			margin: 30px 0 42px;
			@include sp{
				margin: 15px 0 20px;
			}
		}
	}
	&__block4{
		background:url('/assets/img/common/bg4.jpg') no-repeat center;
		background-size: cover;
		padding: 83px 0 77px;
		@include sp{
			padding: 40px 0 38px;
		}
	}

}