/*------------------------------------------------------------
contact
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-uniqueness{
	padding: 76px 0 60px;
	@include sp{
		padding: 38px 0 30px;
	}
	.mt{
		margin-top: 16px;
		@include sp{
			margin-top: 8px;
		}
	}
	.mt2{
		margin-top: 66px;
		@include sp{
			margin-top: 33px;
		}
	}
	.mt3{
		margin-top: -50px;
		@include sp{
			margin-top: 0;
		}
	}
}