/*------------------------------------------------------------
works
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.p-works{
	.mr{
		margin: 70px 0 42px;
		@include sp{
			margin: 35px 0 21px;
		}
	}

	&__block{
		padding-bottom: 180px;
		background:url("/assets/img/common/bg6.png") no-repeat center;
		background-size: cover;
		@include sp{
			padding-bottom: 90px;
		}
	}
}